.breadcrumb {
    width: 100%;
    flex-wrap: wrap;
    white-space: nowrap;
}

.breadcrumb .breadcrumb-item {
    font-size: var(--body-font-size-sm);
    color: var(--grey-text);
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\f31c";
    font-family: Phosphor;
}

@media (max-width: 576px) {
    .breadcrumb {
        column-gap: var(--breadcrumb-item-padding-x);
    }

    .breadcrumb .breadcrumb-item {
        font-size: var(--body-font-size-xs);
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0;
    }
}