.b2b-notifications {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 9900;
}

.b2b-notifications__list {
    padding: 1rem;
}

.b2b-notifications__list:empty {
    padding: 0;
}

.b2b-notifications__item {
    margin-bottom: 1rem;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.b2b-notification {
    display: flex;
    height: auto;
    background-color: var(--info);
    width: 100%;
    min-width: 200px;
    justify-content: flex-start;
}

.b2b-notification--success {
    background-color: var(--success);
}

.b2b-notification--warning {
    background-color: var(--warning);
}

.b2b-notification--alert {
    background-color: var(--danger);
}

.b2b-notification--hint {
    background-color: var(--info);
}

.b2b-notification__icon {
    width: 60px;
    flex-shrink: 0;
    color: var(--white-100);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2b-notification__icon i {
    font-size: 2.5rem;
}

.b2b-notification__content {
    width: 100%;
    max-width: 450px;
    display: flex;
    background-color: var(--white-100);
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    font-size: .75rem;
}

.b2b-notification__close {
    padding: 1rem;
    background-color: var(--white-100);
}

.b2b-notification__close-button {
    display: flex;
    width: 40px;
    height: auto;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}

.b2b-notification__close-button:active {
    outline: 0;
}