.table-mobile-v2 tbody tr img.rounded {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

@media(min-width: 768px) {
    .table-mobile-v2 .col-name {
        white-space: nowrap;
    }
}

@media(max-width: 768px) {
    .table-mobile-v2 {
        display: block;
    }

    .table-mobile-v2 thead {
        display: none;
    }
    
    .table-mobile-v2 tbody,
    .table-mobile-v2 tfoot {
        display: block;
    }
 
    .table-mobile-v2 tbody tr {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .table-mobile-v2 tbody tr td {
        padding: 0;
    }

    .table-mobile-v2 tbody tr td:empty {
        display: none;
    }

    .table-mobile-v2 tbody tr td.order-1 {
        margin-top: 1rem;
    }

    .table-mobile-v2 tbody tr [data-title]::before {
        content: attr(data-title)': ';
        color: var(--grey-800);
    }

    .table-mobile-v2 tfoot td {
        border-top: none;
    }
}