.nav-user .navbar-nav-link {
    padding: 0;
    border-radius: var(--border-radius-sm);
}

.nav-user .navbar-nav-link:active,
.nav-user .navbar-nav-link:focus {
    background-color: initial;
}

.nav-user .ph {
    font-size: 1rem;
    vertical-align: middle;
}

.nav-user .bx-user-info-name {
    font-size: 1rem;
    vertical-align: middle;
}

.nav-user .navbar-nav-link.active, 
.nav-user .navbar-nav-link.show, 
.nav-user .navbar-nav-link[aria-expanded=true] {
    color: var(--white-100);
    background-color: var(--secondary-hover);
}

@media (max-width: 576px) {
    .nav-user .navbar-nav-link {
        margin-left: .375rem;
        padding-left: 0;
    }
    .nav-user .navbar-nav-link .bx-user-info-name {
        display: none;
    }
}