.upselling {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white-100);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-sm);
    overflow-y: hidden;
    height: 100%;
}

.upselling .upselling__filter {
    position: relative;
    padding: 1rem 1.5rem 1.5rem;
    /* flex-shrink: 0;
    max-height: 405px;
    overflow: auto; */
}

.filter .filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter .filter__roll-up {
    padding: 0.5rem;
    width: calc(0.5rem * 2 + 20px);
    height: calc(0.5rem * 2 + 12px);
    cursor: pointer;
}

.filter .filter__roll-down {
    transform: rotate(180deg);
}

.filter .filter_title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4;
}

.filter__body {
    /*overflow: hidden;
    max-height: 650px;
    transition: max-height 0.3s ease-in-out; */
}

.filter__body-hide {
    max-height: 0;
    transition: max-height var(--transition-base-timer) ease-in-out;
}

.filter__body-wrapper {
    padding-top: 1.5rem;
}

.filter .filter__input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.filter .filter-selected-multiple {
    padding: calc(1rem - 2px);
    outline: 0;
    background: var(--grey-100);
    border: var(--border-width) solid var(--grey-400);
    border-radius: var(--border-radius);
    transition: background var(--transition-base-timer) ease-in-out, border-color var(--transition-base-timer) ease-in-out,box-shadow var(--transition-base-timer) ease-in-out;
}

.filter .filter-selected-multiple:hover {
    background: var(--secondary-hover);
}


.filter .filter-selected-multiple .filter__input {
    width: .75em;
    border: none;
    outline: none;
    background: none;
}

.filter .filter__btn-guop {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.upselling .upselling__catalog-list {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

.catalog-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    height: 80%;
    overflow-y: hidden;
}

.catalog-list li {
    list-style-type: none;
}

.catalog-list .catalog-list__header {
    display: flex;
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

.catalog-list .catalog-list__header.scroll {
    padding-right: .5rem;
}

.catalog-list .catalog-list__column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
}

.catalog-list .catalog-list__column__size-10 {
    flex: 0 0 10%;
}

.catalog-list .catalog-list__column__size-18 {
    flex: 0 0 100px;
    padding-inline: .75rem;
    text-align: center;
}

.catalog-list .catalog-list__column__size-22 {
    flex: 0 0 140px;
    padding-inline: .75rem;
}

.catalog-list .catalog-list__column__size-all {
    position: sticky;
    left: 0;
    justify-content: start;
    flex-basis: calc(100% - 140px - 100px);
    flex-shrink: 0;
    min-width: 199px;
    gap: .5rem;
    border-right: 1px solid var(--table-border-color);
}

.catalog-list .catalog-list__item {
    display: flex;
}

.catalog-list .catalog-list__description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog-list .catalog-list__name {
    color: var(--primary);
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.catalog-list .catalog-list__property {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    flex: 0 0 auto;
}

.catalog-list .catalog-list__property img {
    width: 1rem;
    height: auto;
    padding: 1px;
    border: 1px solid var(--grey-800);
}

.catalog-list .nothing_to_show {
    margin: 16px;
}

.filter .filter__SectionsSelect {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: .5rem;
    z-index: 10;
    width: 100%;
}

.filter .filter__SectionsSelect > div {
    background-color: var(--white-100);
    max-height: 326px;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
}

.filter .filter__SectionsSelect-item {
    padding: 1rem .75rem;
    line-height: 1.4;
    cursor: pointer;
    transition: all ease-in-out var(--transition-base-timer);
}

.filter .filter__SectionsSelect-item:hover {
    color: var(--white-100);
    background-color: var(--primary);
}

.filter__selected-section {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.filter__selected-section:has(.filter__selected-item) {
    margin: -.5rem;
}

.filter .filter__selected-item {
    display: inline-block;
    line-height: 1.4;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius-sm);
    padding: .5rem .75rem;
    margin-left: 0px;
    transition: all ease-in-out var(--transition-base-timer);
    cursor: pointer;
}

.filter .filter__selected-item:hover {
    color: var(--white-100);
    background-color: var(--primary);
}

.catalog-list .catalog-list__body {
    flex: 1 1 100%;
    overflow-y: auto;
}

.catalog-list__item .catalog-list__font-white-space-nowrap {
    white-space: nowrap;
    flex-direction: column;
}

.catalog-list__item .img-responsive-wriper {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
}

.catalog-list__item .img-responsive {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.catalog-list__item .price_whithout_discond {
    font-size: 10px;
    text-decoration: line-through;
}

.upselling__filter__hidden {
    overflow: hidden;
}

@media (max-width: 1600px) {
    .upselling .upselling__filter {
        padding: 1rem 1rem .5rem;
    }
}

@media ((max-width: 1600px) and (min-width: 992px)) or (max-width: 576px) {
    .catalog-list .catalog-list__header {
        display: none;
    }

    .catalog-list .catalog-list__item {
        flex-direction: column;
        margin-inline: 1rem;
        padding: .5rem 0;
    }

    .catalog-list .catalog-list__item:not(:last-child) {
        border-bottom: 1px solid var(--primary);
    }
    
    .catalog-list .catalog-list__column {
        padding: 0;
    }

    .catalog-list .catalog-list__column__size-22,
    .catalog-list .catalog-list__column__size-18 {
        flex-basis: auto;
        margin-top: .5rem;
        margin-left: 92px;
        align-items: start;
    }

    .catalog-list .catalog-list__column__size-22 {
        justify-content: start;
        order: 1;
    }
    
    .catalog-list .catalog-list__column__size-18 {
        font-weight: 600;
    }        

    .catalog-list .catalog-list__column__size-all {
        gap: 1rem;
        border-right: none;
    }

    .catalog-list__item .img-responsive-wriper {
        width: 76px;
        height: 76px;
    }
}

@media (max-width: 1200px) {
    .upselling .upselling__filter {
        max-height: 442px;
    }

    .filter__body-wrapper {
        padding-top: .5rem;
    }
}

@media (max-width: 992px) {
    .upselling {
        height: 100vh;
    }

    .filter__body-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .filter .filter__input-group {
        flex-basis: calc(50% - .25rem);
    }
    
    .filter .filter__btn-guop {
        margin-top: -.5rem;
        justify-content: end;
    }

    .catalog-list .catalog-list__column__size-18 {
        flex-grow: 1;
        justify-content: end;
    }

    .catalog-list {
        padding-inline: 1rem;
    }
}

@media (max-width: 768px) {
    .catalog-list .catalog-list__header.scroll {
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    .filter .filter__input-group {
        flex-basis: 100%;
    }
}
