html {
    height: 100%;
}

body {
    font-family: var(--body-font-family);
    color: var(--black-100);
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

h6 {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 400;
}

b, strong {
    font-weight: 600;
}

a:hover {
    color: var(--primary-hover);
}

.wmax-486px {
    width: 30.375rem;
}

.mt-1 {
    margin-top: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mt-5 {
    margin-top: 3rem!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 3rem!important
}

.ms-1 {
    margin-left: .25rem!important
}

.ms-2 {
    margin-left: .5rem!important
}

.ms-3 {
    margin-left: 1rem!important
}

.ms-4 {
    margin-left: 1.5rem!important
}

.ms-5 {
    margin-left: 3rem!important
}

.pt-70 {
    padding-top: 70%;
}

.pe-6 {
    padding-right: 5.5rem!important;
}

.fix-mt-1 {
    margin-top: -.25rem;
}

.fix-mt-2 {
    margin-top: -.5rem;
}

.fix-mt-3 {
    margin-top: -1rem;
}

.gap-1 {
    gap: .25rem!important;
}

.gap-2 {
    gap: .5rem!important;
}

.gap-3 {
    gap: 1rem!important;
}

.gap-4 {
    gap: 1.5rem!important;
}

.negative-mx-3 {
    margin-inline: -1rem;
}

.translate-y-25 {
    -webkit-transform: translateY(-25%)!important;
    transform: translateY(-25%)!important;
}

.w-0 {
    width: 0!important;
}

.d-flow-root {
    display: flow-root!important;
}

.object-fit-cover {
    -o-object-fit: cover!important;
    object-fit: cover!important;
}

.object-fit-contain {
    -o-object-fit: contain!important;
    object-fit: contain!important;
}

.white-space-nowrap {
    white-space: nowrap;
}

.vertical-align-top {
    vertical-align: top;
}

.small-text {
    font-size: .75rem;
    line-height: 1.4;
}

.text-muted {
    color: var(--grey-800)!important;
}

.fixed-top {
    top: 39px;
}

.zindex-99 {
    z-index: 99!important;
}

.content-inner {
    padding: 1.5rem;
}

.content-inner .content {
    padding: 1.5rem 0 0;
}

.detail-menu {
    background: var(--white-100);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow);
}

.detail-menu .nav-mainpage-tabs .nav-link {
    padding-inline: 1.5rem;
}

.navbar-b2b-mainpage {
    --navbar-padding-x: 0;
    --navbar-padding-y: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.nav-mainpage-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
    border-bottom: none;
    padding-bottom: 1px;
}

.nav-mainpage-tabs .nav-link {
    padding: 18px;
    border: none;
}

.nav-mainpage-tabs .nav-link.active {
    border-bottom: 2px solid var(--primary);
}

.nav-mainpage-tabs .nav-item:first-child .nav-link.active {
    border-bottom-left-radius: .5rem;
}

.blank_detail .tab-content {
    margin-top: 1.5rem;
}

.gradient {
    background: var(--gradient);
}

.gradient-modal {
    background: var(--gradient-modal);
}

.fab-menu-inner div[data-fab-label].fab-label-center:after {
    margin-top: 0;
}

.max-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
            line-clamp: 7;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.upload-file {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.upload-file:hover .action.btn {
    background-color: #2a3140;
}

.upload-file .input-file {
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 2.25003rem;
    border: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.upload-file .filename {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-break: break-word;
}

.upload-file .fileremove {
    position: relative;
    color: var(--primary);
    z-index: 99;
    cursor: pointer;
    transition: all ease-in-out var(--transition-base-timer);
}

.upload-file .fileremove:hover {
    color: var(--primary-hover);
}

.upload-file .fileremove i {
    vertical-align: middle;
}

.trumbowyg-button-pane {
    padding-inline: 0;
}

.btn-add-more-files {
	padding: .625rem;
	margin-left: 1rem;
	border: 1px solid var(--primary);
	color: var(--primary);
	border-radius: var(--border-radius-lg);
	order: 1;
	cursor: pointer;
}

.btn-add-more-files:hover {
	color: var(--primary-hover);
	border-color: var(--primary-hover);
	transition: all ease-in-out var(--transition-base-timer);
}

.add_more_files {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.add_more_files img:is([src]) {
	margin-right: .5rem;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: var(--border-radius-lg);
	object-fit: cover;
}

/* buttons */
.btn-xl {
    padding: 1.0625rem;
}

.btn-actions {
    padding-left: 1.3125rem;
}

.btn-actions i {
    font-weight: 600;
}

/* /buttons */

/* table */
.table-border-wrapper {
    border: 1px solid var(--table-border-color);
}

.table-rounded {
    border-radius: var(--border-radius-lg);
}

.table th {
    font-weight: 400;
}

.table-mobile-grid tbody td {
    padding-block: .5rem;
}

.table-mobile-grid .table-img {
    position: relative;
    width: 72px;
    height: 72px;
}

.table-mobile-grid .table-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.table-mobile-grid .table-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.table-mobile-grid .table-article {
    font-size: .75rem;
}
/* /table */

/* datatable */
.datatable-content {
    background: var(--white-100);
    border-radius: var(--border-radius-lg);
}

.datatable-header {
    border-bottom: 0;
}

.datatable-scroll {
    overflow: auto;
}

.datatable-footer {
    padding-bottom: 1rem;
    border-color: var(--table-border-color);
}

.dataTables_info, .dataTables_paginate {
    margin-bottom: 0;
}

.dataTable thead td, .dataTable thead th {
    white-space: nowrap;
}

.dataTable thead th:nth-child(n+2),
.dataTable tbody td:nth-child(n+2) {
    text-align: right;
}

.dataTables_filter .form-control {
    background-color: var(--white-100);
}

.dataTable .dataTables_empty {
    cursor: pointer;
}
/* /datatable */

/* touchspin */
.bootstrap-touchspin.input-group {
    width: 7.25rem;
}
.bootstrap-touchspin .btn {
    height: 100%;
    width: 2rem;
}

.bootstrap-touchspin .btn i {
  font-size: .75rem;
  line-height: 1.4;
  vertical-align: middle;
}

.bootstrap-touchspin .btn:hover {
    color: var(--white-100);
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.bootstrap-touchspin .btn:active {
    color: var(--white-100);
    background-color: var(--primary-active);
    border-color: var(--primary-active);
}

.bootstrap-touchspin .btn.bootstrap-touchspin-down {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bootstrap-touchspin .btn.bootstrap-touchspin-up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bootstrap-touchspin .touchspin-basic {
    flex: 0 1 auto;
    width: 3.25rem;
    height: 2rem;
    margin: 0;
    padding: 0 0.47rem;
    text-align: center;
    outline: unset;
    border-color: var(--primary);
    background-color: var(--white-100);
    box-shadow: none;
}

.bootstrap-touchspin .touchspin-basic:disabled {
    border-color: var(--grey-400)
}

.bootstrap-touchspin-lg.input-group {
  width: 100%;
}

.bootstrap-touchspin-lg .input-group-btn {
    width: 33.333%;
    height: 3.25rem;
}

.bootstrap-touchspin-lg .btn {
    width: 100%;
}

.bootstrap-touchspin-lg .btn i {
    font-size: 1.2rem;
}

.bootstrap-touchspin-lg .touchspin-basic {
    height: 3.25rem;
    width: 33.333%;
}
/* /touchspin */

/* card */
.card-columns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.card-columns-3 > * {
    flex-basis: calc(33.333% - .667rem);
}


.card-columns-3 .card.card-collapsed {
    align-self: start;
}

.card-columns-3 .card .collapse {
    flex-grow: 1;
}

.card-columns-3 .card .collapse .card-body {
    height: 100%;
}

.card-position-sticky {
    position:-webkit -sticky;
    position: sticky;
    bottom: -1.5rem;
    margin-block: 1rem 0;
    box-shadow: 4px -5px 16px rgba(115, 135, 212, 0.09);
    overflow: initial;
    z-index: 50;
}

.card .card-header:has(.d-inline-flex) {
    padding-right: calc(var(--card-cap-padding-x) - .5rem);
}

.card-header .ph {
    vertical-align: middle;
    font-size: 1rem;
}

.card-subtitle {
    color: var(--grey-text);
    font-size: .75rem;
}

.card .collapse,
.card .collapsing {
    position: relative;
}

.card-position-sticky .card-body {
    padding: 1rem;
}

.card .card-p-2 {
    padding: 1.5rem;
}

.card .card-pt-2 {
    padding-top: 1.5rem;
}

.card-content {
    display: grid;
    gap: .5rem;
    margin-bottom: 0;
}

.card-content .card-content__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.card-content dt {
    align-self: start;
    font-weight: 400;
    color: var(--grey-800);
}

.card-content dd {
    margin-bottom: 0;
    text-align: right;
}

.card-content .card-content__bold * {
    font-weight: 600;
    color: inherit;
}

.card-footer-action {
    position: absolute;
    right: 1rem;
    bottom: -2rem;
    background: var(--white-100);
    transition: all .3s;
}

.card-footer-action .ph {
    font-size: 1.25rem;
    cursor: pointer;
}

.card:hover .card-footer-action {
    bottom: 1rem;
}

.card-inner {
    padding: 1.5rem;
    border-radius: var(--border-radius-lg);
    background: var(--white-100);
}

.card-img-actions-overlay {
    background-color: rgba(var(--black-rgb),.42);
}
/* /card */

/* form */
.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

.form-check-input[type="radio"] {
    --form-check-input-checked-bg-color: var(--white);
    --form-check-input-checked-border-color: var(--primary);
}

.form-check-input:checked[type="radio"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%237387d4'/%3e%3c/svg%3e");
}

.form-check-input[type="radio"]:hover {
    border-color: var(--primary);
}

.form-control__file-link {
    --form-file-button-bg: transparent;
    --input-disabled-border-color: transparent;
}

.col-form-label {
    color: var(--grey-800);
}

.form-check-label[for] {
    cursor: pointer;
}

.form-label {
    color: var(--grey-800);
}

.req {
    color: var(--primary);
}

.form-control[type='file']:read-only {
    --form-file-button-bg: var(--white-100);
    color: var(--input-disabled-color);
    background-color: transparent;
    border: 0 solid var(--grey-100);
    opacity: 1
}

.form-control[type="number"] {
    padding-right: .25rem;    
}

.form-control[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.form-control-feedback-icon {
    top: 50%;
    transform: translateY(-50%);
}

.form-control-feedback-start .form-control {
    padding-left: calc(var(--input-padding-x) * 1.625 + var(--icon-font-size));
}

.form-control-multiple-wrap {
    position: relative;
    margin: 0 0 .5rem 0;
}

.btn.form-control-multiple-ic:hover {
    background: transparent;
}

.form-control-multiple-ic:hover i {
    color: var(--primary);
}

.select-icon {
    max-height: 1.25rem;
    object-fit: contain;
    margin-right: .75rem;
    border-radius: var(--border-radius-sm);
}

.select2-container {
    cursor: pointer;
}

.select2-selection--multiple .select2-selection__choice {
    padding: .5rem 1rem;
    border: 1px solid var(--primary);
}

.select2-container--focus:not(.select2-container--disabled) .select2-selection--multiple, 
.select2-container--open .select2-selection--multiple {
    background: var(--white-100);
}

.select2-results__option.select2-results__option--highlighted:active, .select2-results__option[aria-selected=true]:hover {
    background: var(--primary);
}

.select2-selection--single .select2-selection__arrow:after {
    content: none;
}

.select2-container--disabled .select2-selection__arrow {
    display: none;
}

.input-group {
    width: max(10rem, 8.25vw);
}

.input-group .btn {
    padding: 0;
}

.input-group .btn.btn-icon {
    min-width: 2.625rem;
}

.page-title {
    word-break: break-word;
}

/* /form */

/* modal */
.modal-footer {
    margin-top: -1rem;
}

/* /modal */

/* header */
.content-wrapper .navbar-static {
    z-index: auto;
}

.navbar-nav-link i {
    margin-top: 0;
    margin-bottom: 0;
}

.page-header-content > .d-flex {
    column-gap: 1rem;
}

.cart-header {
    margin-right: .5rem;
}

.sotbit-notification_body_scroll {
    padding-right: 0;
}

.navbar-header .sotbit-notification {
    --color-primary-notice: var(--primary);
    margin-right: 1.5rem;
    padding: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
    height: auto;
    align-items: end;
    border-radius: var(--border-radius-sm);
}

.navbar-header .sotbit-notification:hover {
    background-color: var(--secondary-hover);
    box-shadow: var(--box-shadow);
    opacity: .9;
}

.navbar-header .sotbit-notification_counter {
    min-width: 22px;
    font-size: .75rem;
    font-weight: 600;
}

.navbar-header .sotbit-notification svg {
    stroke-width: 2px;
    stroke: var(--white-100);
    width: 19px;
    height: 19px;
}

.navbar-header .sotbit-notification svg path {
    fill: transparent;
}

@media (max-width: 576px) {
    .navbar-header .sotbit-notification {
        margin-right: 0;
    }
}

/* sidebar */
.sidebar-main-resize-wrapper {
    padding: .75rem 1rem;
}

.sidebar-main-resize-wrapper button {
    float: right;
    background-color: var(--secondary);
}

.sidebar-main-resize-wrapper button:hover {
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
}

.sidebar-logo {
    padding-block: 1rem;
}

.sidebar-logo-icon {
    max-width: 115px;
    width: 100%;
    height: 100%;
}

.b2bcabinet-sidebar {
    padding: 0px 1rem 1.5rem 1rem;
}

.b2bcabinet-sidebar .nav .nav-item {
    width: 100%;
}

.sidebar .dropdown-menu {
    --dropdown-padding-y: .5rem;
    --dropdown-item-padding-y: .5rem;
    --dropdown-item-padding-x: 1rem;
}

.sidebar-expand-xl.sidebar-main .sidebar-main-resize-wrapper {
    position: absolute;
    left: calc(var(--sidebar-width-full) - 2.25rem);
    transition: opacity var(--transition-base-timer) ease-in-out;
}
/* /sidebar */

/* sidepanel */
.ui-page-slider-wrapper-default-theme {
    background-color: var(--body-bg)!important;
}

.ui-page-slider-wrapper {
    overflow: auto;
}

.ui-page-slider-wrapper .ui-side-panel-wrap-title {
    font-size: 1.25rem;
    font-family: var(--body-font-family);
    font-weight: 500;
}

.ui-page-slider-wrapper .ui-side-panel-wrap-title-item {
    color: var(--dark-900);
}

.ui-page-slider-wrapper {
    font-family: var(--body-font-family)!important
}

.ui-page-slider-wrapper h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--dark-900);
}
/* /sidepanel */

@media (max-width: 1480px) and (min-width: 768px) {
    .col-xxxl-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
@media (min-width: 1200px) {
    .d-xl-none {
        display: none!important;
    }

    .sidebar-expand-xl.sidebar-main {
        z-index: 1;
    }
    
    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed) {
        transition: width var(--transition-base-timer) ease-in-out;
        z-index: 1000;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .sidebar-main-resize-wrapper {
        visibility: hidden;
        opacity: 0;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .b2bcabinet-sidebar {
        /* padding: 0; */
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .nav-sidebar .nav-link {
        -ms-flex-pack: start;
        justify-content: start;
        width: fit-content;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .nav-sidebar .nav-item-header {
        text-align: left;
        padding-inline: 1rem;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .b2bcabinet-sidebar .sidebar-main-resize-wrapper {
        display: flex;
        justify-content: center;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed)+* {
        margin-left: var(--sidebar-width-resized);
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .b2bcabinet-sidebar .nav-item-header>div {
        display: none;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed) .nav-sidebar {
        overflow-x: hidden;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed) .sidebar-logo {
        padding-inline: .8125rem;
        padding-bottom: .25rem;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed) .sidebar-logo .sidebar-logo-icon {
        min-height: 38px;
        max-height: 38px;
        width: auto;
        object-fit: cover;
        object-position: left;
    }

    .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .nav-sidebar .nav-item-header .sidebar-resize-show {
        margin-block: -.1165rem;
        line-height: 1.025;
    }
    
    _::-webkit-full-page-media, _:future, :root .sidebar-expand-xl.sidebar-main-resized:not(.sidebar-collapsed):not(.sidebar-main-unfold) .nav-sidebar .nav-item-header .sidebar-resize-show {
        margin-block: -.1rem;
    }
}

/* /sidebar */
/* /header */

/* side-panel */
.ui-side-panel-toolbar {
    margin-left: 0;
}

.side-panel-label {
    padding: 0;
    min-width: 38px;
    border-radius: 50%;
    box-shadow: none;
    background: transparent;
    transition: box-shadow var(--transition-base-timer);
}

.side-panel-label-icon-box {
    width: 100%;
}

.side-panel-label-icon {
    margin-inline: auto;
}

.side-panel-label-icon-close:before {
    width: 1.375rem;
    height: 1.375rem;
    margin-left: 0;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M11.381 1.746L7.138 5.988l4.248 4.249-1.151 1.152L5.986 7.14l-4.242 4.244-1.147-1.146L4.84 5.994.592 1.747 1.744.595l4.248 4.247L10.235.6z'/%3e%3c/svg%3e") no-repeat;
    background-size: cover;
}

.side-panel-label:hover {
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .07);
}

.side-panel-label:hover .side-panel-label-icon-close:after {
    content: none;
}

.side-panel-iframe {
    height: calc(100% - 6px);
}

.side-panel-container,
.side-panel-content-container {
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-lg);
}

/* /side-panel */

/* footer */
.navbar-footer {
    padding: 0;
    background: transparent;
    color: var(--grey-800);
}

.navbar-footer .navbar-link {
    color: var(--grey-800);
}

/* /footer */

.b2b-banner-wrapper {
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.tab-content-b2b {
    margin-top: 1.5rem;
}

/* spinner */
.theme_xbox {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -24px;
}

.theme_xbox .pace_activity {
    -webkit-animation: rotation 1.5s ease-in-out infinite;
    animation: rotation 1.5s ease-in-out infinite;
    margin: auto;
    width: 48px;
    height: 48px;
}

.theme_xbox .pace_activity,
.theme_xbox .pace_activity:after,
.theme_xbox .pace_activity:before {
    border: 2px solid transparent;
    border-top-color: var(--primary-active);
    border-radius: 50%;
}

.theme_xbox .pace_activity:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    -webkit-animation: rotation ease-in-out 2s infinite;
    animation: rotation ease-in-out 2s infinite;
    border-top-color: var(--primary);
}

.theme_xbox .pace_activity:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    -webkit-animation: rotation ease-in-out 1s infinite;
    animation: rotation ease-in-out 1s infinite;
    border-top-color: rgba(var(--primary-rgb), 0.1);
    ;
}

/* /spinner */

/* carousel */
.carousel-indicators [data-bs-target] {
    margin-inline: .5rem;
}

/* /carousel */

/* file upload */
.file-area {
    width: 100%;
    position: relative;
    color: #455a64;
}

.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 0.1875rem;
}

.file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(69, 90, 100, 0.2);
    border: 2px dashed rgba(69, 90, 100, 0.2);
    text-align: center;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    border-radius: var(--border-radius);
}

.file-area .file-dummy .success {
    display: none;
}

.file-area:hover .file-dummy {
    background: rgba(69, 90, 100, 0.1);
}

.file-area input[type=file]:focus+.file-dummy {
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

.file-area input[type=file]:valid+.file-dummy {
    border-color: rgba(69, 90, 100, 0.4);
    background-color: rgba(69, 90, 100, 0.3);
}

.file-area input[type=file]:valid+.file-dummy .success {
    display: inline-block;
}

.file-area input[type=file]:valid+.file-dummy .default {
    display: none;
}

/* /file upload */

/* swal */
.swal2-actions>button+button {
    margin-left: 1rem;
}

/* /swal */

/* search */
.search-form .form-control-feedback-icon {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.search-form .form-control-feedback-icon i {
	font-size: 1.25rem;
	color: var(--primary);
}

.search-form [type="search"] + .clear-text {
    display: none;
}

.search-form [type="search"]:not(:placeholder-shown) + .clear-text {
    display: flex;
} 

.search-form .clear-text {
    left: auto;
    right: 0;
    padding-inline: 0.5rem 1rem;
}
/* /search */

/* offcanvas */
.offcanvas-xxxl {
    --offcanvas-zindex: 1045;
    --offcanvas-width: 482px;
    --offcanvas-height: auto;
    --offcanvas-padding-x: var(--spacer);
    --offcanvas-padding-y: var(--spacer);
    --offcanvas-bg: var(--white);
    --offcanvas-box-shadow: var(--box-shadow)
}
/* /offcanvas */

@media (min-width: 1480px) {
    .offcanvas-xxxl {
        --offcanvas-height:auto;
        --offcanvas-border-width: 0;
        background-color: transparent!important
    }

    .offcanvas-xxxl .offcanvas-header {
        display: none
    }

    .offcanvas-xxxl .offcanvas-body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent!important
    }

    .d-xxxl-none {
        display: none!important;
    }
}

@media (max-width: 1480px) {
    .b2bcabinet-sidebar {
        padding: 0 .5rem .5rem 1rem;
    }

    /* offcanvas */
    .offcanvas-xxxl {
        position:fixed;
        bottom: 0;
        z-index: var(--offcanvas-zindex);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
        color: var(--offcanvas-color);
        visibility: hidden;
        background-color: var(--offcanvas-bg);
        background-clip: padding-box;
        outline: 0;
        box-shadow: var(--offcanvas-box-shadow);
        transition: -webkit-transform calc(var(--transition-base-timer) * 2) ease-in-out;
        transition: transform calc(var(--transition-base-timer) * 2) ease-in-out;
        transition: transform calc(var(--transition-base-timer) * 2) ease-in-out,-webkit-transform calc(var(--transition-base-timer) * 2) ease-in-out
    }

    .offcanvas-xxxl.offcanvas-end {
        top:0;
        right: 0;
        width: var(--offcanvas-width);
        border-left: var(--offcanvas-border-width) solid var(--offcanvas-border-color);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    .offcanvas-xxxl.show:not(.hiding),.offcanvas-xxxl.showing {
        -webkit-transform:none;
        transform: none
    }

    .offcanvas-xxxl.hiding,.offcanvas-xxxl.show,.offcanvas-xxxl.showing {
        visibility:visible
    }

    /* end offcanvas */
}

@media (max-width: 1200px) {
    .sidebar-logo-icon {
        height: 38px;
        max-width: none;
        width: auto;
    }

    .content-wrapper .navbar-static {
        padding-left: 1rem;
    }

    .content-inner {
        padding: 1rem 1.5rem;
    }

    .tab-content-b2b {
        margin-top: 1rem;
    }

    .card-columns {
        column-gap: .5rem;
    }

    .card-columns-3 > * {
        margin-bottom: .5rem;
    }

    .side-panel-container,
    .side-panel-content-container {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-position-sticky {
        bottom: -1rem;
    }
}

@media (max-width: 992px) {
    .content-wrapper .navbar-static {
        padding-inline: .5rem 1.5rem;
    }

    .content-inner {
        padding: 1rem;
    }

    .card-columns-3 > * {
        flex-basis: calc(50% - .5rem);
    }
}

@media (max-width: 768px) {
    .content-wrapper .navbar-static {
        padding-right: 2.125rem;
    }

    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        flex-grow: 1;
    }

    .datatable-wrapper .datatable-add {
        flex-grow: 0;
    }

    .dataTable thead {
        display: none;
    }

    .dataTable tbody tr {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        gap: .5rem;
    }

    .dataTable tbody tr:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }

    .dataTable tbody tr td {
        flex-basis: 50%;
        padding: 0;
        border: none;
    }

    .dataTable tbody tr td:first-child {
        flex-basis: calc(100% - 7.75rem);
    }

    .dataTable tbody tr td:nth-child(2) {
        flex-basis: auto;
    }
    
    .dataTable tbody tr td:last-child {
        flex-basis: 100%;
        order: 2;
    }

    .dataTable tbody tr td[data-title] {
        order: 1;
    }

    .dataTable tbody tr td[data-title]::before {
        content: attr(data-title);
        display: block;
        text-align: left;
        color: var(--grey-800);
    }

    .dataTable tbody .dataTables_empty {
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {
    .page-title {
        margin-bottom: .5rem;
    }

    .b2bcabinet-sidebar {
        padding-inline: 1rem;
    }

    .content-wrapper .navbar-static {
        padding-right: 1rem;
    }

    .b2b-banner-wrapper {
        margin: -1rem -1rem 0;
    }

    .sidebar-expand-xl.sidebar-main .sidebar-main-resize-wrapper {
        right: 0;
        padding: 1rem 1rem 0;
    }

    .sidebar-main-resize-wrapper button {
        padding: 0;
        background: transparent;
        color: var(--dark-900);
    }

    .card-position-sticky .card-body {
        flex-wrap: wrap;
    }

    .card-position-sticky .card-body > *{
        width: 100%;
        margin-inline: 0;
    }

    .card-position-sticky .card-body > .form-check {
        order: -1;
    }

    .card-columns-3 > * {
        flex-basis: 100%;
    }

    .table-mobile-grid thead {
        display: none;
    }

    .table-mobile-grid tr {
        display: grid;
        grid-template-columns: 88px 1fr;
        padding: 1rem;
    }

    .table-mobile-grid tr:not(:last-child) {
        border-bottom: 1px solid var(--table-border-color);
    }

    .table-mobile-grid tbody td {
        padding: 0;
        border-top: 0;
    }

    .table-mobile-grid tr td:first-child {
        grid-row: 1 / 5;
    }

    .table-mobile-grid tr td:not(:first-child) {
        grid-column: 2/3;
    }

    .table-mobile-grid tr td [data-title]::before {
        content: attr(data-title)': ';
        color: var(--grey-800);
    }

    .table-mobile-grid .table-article {
        font-size: 1rem;
    }

    .table-mobile-grid .table-article span {
        color: var(--grey-800);
    }

    .datatable-footer, .datatable-header {
        display: flex;
    }

    .dataTable tbody tr td,
    .dataTable tbody tr td:first-child {
        flex-basis: 100%;
    }

    .dataTable tbody tr td:last-child {
        flex-basis: auto;
    }

    .btn-sm-icon {
        padding-left: var(--btn-padding-y);
        padding-right: var(--btn-padding-y);
    }
    
    .bootstrap-touchspin.input-group {
        justify-content: start;
        width: auto;
    }

    .bootstrap-touchspin .btn {
        height: 2.625rem;
        width: min(3.875rem, 14vw);
    }

    .bootstrap-touchspin .btn i {
        font-size: .875rem;
    }

    .bootstrap-touchspin .touchspin-basic {
        width: min(4rem, 18vw);
        height: 2.625rem;
    }
}