.excel-import__block-result .alert-dismissible {
    cursor: pointer;
}

.excel-import__block-result .alert-dismissible:hover {
    background-color: #ddf4f7 !important;
}

.ecxel-import__error-file .ecxel-import__error-text,
.product__error-added {
    color: #f44336;
}

.rounded-pill {
    background-color: #3e495f;
}

.letter-icon {
    color: #ffffff;
}

.table-border-double .result__count-products {
    width: 100px;
}

#excel_import__result {
    max-height: 450px;
    overflow: auto;
}