/* absolute path to images is required to make crm-sale proxy work */

.bx-sls .dropdown-block {
	padding: calc(1rem - 2px) calc(1rem - 2px) calc(1rem - 2px) 3rem;
	border: 1px solid var(--grey-400);
    border-radius: var(--border-radius-sm);
    background-color: var(--grey-100);
    transition: background ease-in-out var(--transition-base-timer);
}

.bx-sls .dropdown-block:hover {
	background-color: var(--secondary-hover);
}

.bx-sls .dropdown-block-ui {
	font-size: 14px;
	padding: 0 22px 0 30px;
	position: relative;
	background-color: #fff;
	margin-top: 5px;
}

.bx-sls .dropdown-arrow {
	background: url(/bitrix/components/bitrix/sale.location.selector.search/templates/.default/images/dropdown-errow.png) no-repeat center center;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	width: 22px;
}

.bx-sls .bx-ui-sls-container {
	overflow: hidden;
	min-height: 22px;
	line-height: 1.4;
}

.bx-sls .bx-ui-sls-pane {
	max-height: 300px;
	top: calc(100% + 1px);
	background: var(--white-100);
    border-radius: var(--border-radius-sm);
	border: 1px solid  var(--grey-400);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	overflow-y: auto;
	left: -1px;
	padding: .25rem;
	position: absolute;
	width: calc(100% + 2px);
	z-index: 5;
}

.bx-sls .dropdown-active .bx-ui-sls-pane {
	display: block;
}

.bx-sls .bx-ui-sls-variants {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bx-sls .dropdown-item {
	border-radius: 2px;
	padding: 7px 4px 7px 10px;
	margin-bottom: 2px;
}

.bx-sls .dropdown-item:hover {
	background-color: #f1f3f5;
	cursor: pointer;
}

.bx-sls .dropdown-img {
	border: none;
	display: inline-block;
	height: 12px;
	margin: 3px 12px 0 0;
	vertical-align: top;
	width: 16px;
}

.bx-sls .dropdown-item-text {
	/*makeup:color: #212121;*/
	color: #aba8ac;
	display: inline-block;
	/*max-width: 220px;*/ /*silly limitation*/
	vertical-align: top;
}

.bx-sls .dropdown-item-text span{
	color: #25282c;
}

.bx-sls .dropdown-list-title {
	border-bottom: 1px solid #e5e5e5;
	height: 37px;
	line-height: 37px;
	padding-left: 8px;
}

.bx-sls .quick-locations{
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	margin-top: .5rem;
}
.bx-sls .quick-location-tag {
	background-color: var(--white-100);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius-sm);
	color: var(--primary);
	display: inline-block;
	font-size: 1rem;
	padding: .5rem 1rem;
	text-decoration: none;
}
.bx-sls .quick-location-tag:hover{
	color: var(--primary-hover);
	border-color: var(--primary-hover);
}

.bx-sls .dropdown-fade2white{
	width: 46px;
	height: 31px;
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}

.bx-sls .bx-ui-sls-clear{
	cursor: pointer;
	cursor: hand;
	margin-top: 0;

	position: absolute;
	top: 50%;
	right: 1rem;
    transform: translateY(-50%);
	z-index: 10;
}
.bx-sls .bx-ui-sls-clear:hover{
	background-position: 6px -3418px;
}

.bx-sls .bx-ui-sls-loader{
	width: 1.25rem;
	height: 1.25rem;

	position: absolute;
	top: 1.1rem;
	right: 1rem;
	display: none;
	z-index: 5;
}

.bx-sls .bx-ui-sls-loader:not(:not([style^="display"])) + .bx-ui-sls-clear {
	display: none!important;
}

.bx-sls .bx-ui-sls-go-edit{
	display: none;
}

.bx-sls input::-ms-clear {
	display: none;
}

.bx-sls input[type="text"]{
	position: relative;
}

.bx-sls .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-route {
	position: absolute !important;
	top: 0;
	left: 0;

	opacity: 1 !important;
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;

	padding:0 22px 0 0 !important;
	background-position: right 1px;
	background-repeat: no-repeat;

	font-size: 1rem;
	width: 100%;
	outline: none;
	z-index: 10;
}
.bx-sls .bx-ui-sls-route{
	color: #aba8ac !important;
	z-index: 5;
}

.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant,
.bx-sls .bx-ui-sls-error{
	padding: 10px 10px;
}
.bx-sls .bx-ui-sls-error{
	color: var(--danger);
	text-align: center;
	position: relative;
}
.bx-sls .bx-ui-sls-error div{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	height: 25px;
	background: url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2895px no-repeat scroll;
}
.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant:hover,
.bx-sls .bx-ui-sls-variant-active{
	background-color: rgba(var(--primary-rgb), 0.1);
}

.adm-sls-edit-link{
	margin-top: 10px;
}

/* CSS-modes below: admin, public; */
.bx-admin-mode .bx-sls-go-edit{
	margin-left: 10px;
	display: none;
}

.bx-admin-mode .dropdown-block {
	padding-block: 1rem;
	border-radius: var(--border-radius-sm);
    background-color: var(--grey-100);
    transition: background ease-in-out var(--transition-base-timer);
}

.bx-sls.bx-admin-mode .bx-ui-sls-fake,
.bx-sls.bx-admin-mode .bx-ui-sls-route {
	height: 25px;
}

.bx-admin-mode .dropdown-icon {
	height: 1rem;
    width: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.bx-admin-mode .dropdown-fade2white {
	height: 22px;
}

.bx-admin-mode .dropdown-fade2white {
	right: 1px;
}

.bx-admin-mode .bx-ui-sls-clear {
	background-position: 6px -3389px;
	height: 22px;
}

.bx-admin-mode .bx-ui-sls-clear:hover{
	background-position: 6px -3421px;
}

.bx-admin-mode .bx-ui-sls-loader {
	background-position: right -4px !important;
	height: 21px;
}

.bx-admin-mode .bx-ui-sls-pane {
	top: 27px;
}